<!DOCTYPE html>
<html lang="en" ng-app="Dashboard">
	<head>
	    <meta charset="UTF-8">
	    <title>Dashboard</title>
	    {% load static %}

	    <link rel="stylesheet" href="{%static "TestApp/css/materialize.css" %}">
	    <link rel="stylesheet" href="{%static "TestApp/css/bootstrap.css" %}">
	    <link rel="stylesheet" href="{%static "TestApp/css/dash.css" %}">

	    <script src="{%static "TestApp/js/jquery-min.js" %}"></script>
	    <script type="text/javascript" src="{%static "TestApp/js/materialize.js" %}"></script>    
	    <script type="text/javascript" src="{%static "TestApp/js/Chart.bundle.js" %}"></script>
	    <script type="text/javascript" src="{%static "TestApp/js/angular.min.js" %}"></script>
	    <script src="{%static "TestApp/js/dash.js" %}" charset="utf-8"></script>
	</head>
	<body>
	    <div class="section">
	      <div class="a row">
	      <section ng-controller="AUController as dau">
	      		<ul class="nav nav-pills" >
	      			<li ng-class="{ active:dau.isSelected(1)}">
	      				<a ng-click="dau.selectTab(1)">Daily</a>
	      			</li>
	      			<li ng-class="{ active:dau.isSelected(2)}">
	      				<a ng-click="dau.selectTab(2)">Weekly</a>
	      			</li>
	      			<li ng-class="{ active:dau.isSelected(3)}">
	      				<a ng-click="dau.selectTab(3)">Monthly</a>
	      			</li>
	      		</ul>
		      	<div ng-show="dau.isSelected(1)">
		      		<div class="loader" id="l11"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
		      		<div class = "chart" id="c11">
		      			<canvas id="chart11" height="18%" width="30%"></canvas>
		      		</div>
		      	</div>
		      	<div ng-show="dau.isSelected(2)">
		      		<div class="loader" id="l12"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
		      		<div class = "chart" id="c12">
		      			<canvas id="chart12" height="18%" width="30%"></canvas>
		      		</div>
		      	</div>
		      	<div  ng-show="dau.isSelected(3)">
		      		<div class="loader" id="l13"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
		      		<div class = "chart" id="c13">
		      			<canvas id="chart13" height="18%" width="30%"></canvas>
		      		</div>
		      	</div>   
	      	</section>
	      	<section ng-controller="ChurnController as cc">
	      		<ul class="nav nav-pills" >
	      			<li ng-class="{ active:cc.isSelected(1)}">
	      				<a ng-click="cc.selectTab(1)">Table</a>
	      			</li>
	      			<li ng-class="{ active:cc.isSelected(2)}">
	      				<a ng-click="cc.selectTab(2)">Chart</a>
	      			</li>
	      		</ul>
	      		<div ng-show="cc.isSelected(1)" id = "tb">
	      			<div class="loader" id="ltb"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
	      		</div>
	      		<div ng-show="cc.isSelected(2)">
	      			<div class="loader" id="lch"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
		      		<div class = "chart" id="cch">
		      			<canvas id="c-chart" height="18.5%" width="30%"></canvas>
		      		</div>
		      	</div>
	      	</section>
	      	<section ng-controller="SignUpController as sign">
	      		<ul class="nav nav-pills" >
	      			<li ng-class="{ active:sign.isSelected(1)}">
	      				<a ng-click="sign.selectTab(1)">Daily</a>
	      			</li>
	      			<li ng-class="{ active:sign.isSelected(2)}">
	      				<a ng-click="sign.selectTab(2)">Weekly</a>
	      			</li>
	      			<li ng-class="{ active:sign.isSelected(3)}">
	      				<a ng-click="sign.selectTab(3)">Monthly</a>
	      			</li>
	      		</ul>
		      	<div ng-show="sign.isSelected(1)">
	      			<div class="loader" id="l21"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
		      		<div class = "chart" id="c21">
		      			<canvas id="chart21" height="18.5%" width="30%"></canvas>
		      		</div>
		      	</div>
		      	<div ng-show="sign.isSelected(2)">
		      		<div class="loader" id="l22"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
		      		<div class = "chart" id="c22">
		      			<canvas id="chart22" height="18.5%" width="30%"></canvas>
		      		</div>
		      	</div>
		      	<div ng-show="sign.isSelected(3)">
		      		<div class="loader" id="l23"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
		      		<div class = "chart" id="c23">
		      			<canvas id="chart23" height="18.5%" width="30%"></canvas>
		      		</div>
		      	</div>   
	      	</section>
	      </div>
	    </div>
		<div class="b row">
		<section ng-controller="SDKController as sdk">
			<ul class="nav nav-pills" >
      			<li ng-class="{ active:sdk.isSelected(1)}">
      				<a ng-click="sdk.selectTab(1)">Daily</a>
      			</li>
      			<li ng-class="{ active:sdk.isSelected(2)}">
      				<a ng-click="sdk.selectTab(2)">Weekly</a>
      			</li>
      			<li ng-class="{ active:sdk.isSelected(3)}">
      				<a ng-click="sdk.selectTab(3)">Monthly</a>
      			</li>
      		</ul>
      		<div ng-show="sdk.isSelected(1)">
				<div class="loader" id="l31"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
				<div class = "chart" id="c31">
					<canvas id="chart31" height="18.5%" width="30%"></canvas>
				</div>
      		</div>
      		<div ng-show="sdk.isSelected(2)">
				<div class="loader" id="l32"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
				<div class = "chart" id="c32">
					<canvas id="chart32" height="18.5%" width="30%"></canvas>
				</div>
      		</div>
      		<div ng-show="sdk.isSelected(3)">
				<div class="loader" id="l33"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
				<div class = "chart" id="c33">
					<canvas id="chart33" height="18.5%" width="30%"></canvas>
				</div>
      		</div>		
		</section>
		<section ng-controller="EditController as edit">
			<ul class="nav nav-pills" >
      			<li ng-class="{ active:edit.isSelected(1)}">
      				<a ng-click="edit.selectTab(1)">Daily</a>
      			</li>
      			<li ng-class="{ active:edit.isSelected(2)}">
      				<a ng-click="edit.selectTab(2)">Weekly</a>
      			</li>
      			<li ng-class="{ active:edit.isSelected(3)}">
      				<a ng-click="edit.selectTab(3)">Monthly</a>
      			</li>
      		</ul>
			<div ng-show="edit.isSelected(1)">
				<div class="loader" id="l41"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
				<div class = "chart" id="c41">
					<canvas id="chart41" height="18.5%" width="30%"></canvas>
				</div>
			</div>
			<div ng-show="edit.isSelected(2)">
				<div class="loader" id="l42"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
				<div class = "chart" id="c42">
					<canvas id="chart42" height="18.5%" width="30%"></canvas>
				</div>
			</div>
			<div ng-show="edit.isSelected(3)">
				<div class="loader" id="l43"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
				<div class = "chart" id="c43">
					<canvas id="chart43" height="18.5%" width="30%"></canvas>
				</div>
			</div>
		</section>
		<section ng-controller="ImportController as imp">
		<ul class="nav nav-pills" >
  			<li ng-class="{ active:imp.isSelected(1)}">
  				<a ng-click="imp.selectTab(1)">Daily</a>
  			</li>
  			<li ng-class="{ active:imp.isSelected(2)}">
  				<a ng-click="imp.selectTab(2)">Weekly</a>
  			</li>
  			<li ng-class="{ active:imp.isSelected(3)}">
  				<a ng-click="imp.selectTab(3)">Monthly</a>
  			</li>
  		</ul>
		<div ng-show="imp.isSelected(1)">
			<div class="loader" id="l51"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
			<div class = "chart" id="c51">
				<canvas id="chart51" height="18.5%" width="30%"></canvas>
			</div>
		</div>
		<div ng-show="imp.isSelected(2)">
			<div class="loader" id="l52"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
			<div class = "chart" id="c52">
				<canvas id="chart52" height="18.5%" width="30%"></canvas>
			</div>
		</div>
		<div ng-show="imp.isSelected(3)">
			<div class="loader" id="l53"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
			<div class = "chart" id="c53">
				<canvas id="chart53" height="18.5%" width="30%"></canvas>
			</div>
		</div>
		</section>
		</div>
	</body>
</html>