<!DOCTYPE html>
<html lang="en" ng-app="Dashboard">
	<head>
	    <meta charset="UTF-8">
	    <title>Dashboard</title>
	    {% load static %}

	    <link rel="stylesheet" href="{%static "css/materialize.css" %}">
	    <link rel="stylesheet" href="{%static "css/bootstrap.css" %}">
	    <link rel="stylesheet" href="{%static "css/dash.css" %}">

	    <script src="{%static "js/jquery-min.js" %}"></script>
	    <script type="text/javascript" src="{%static "js/materialize.js" %}"></script>    
	    <script type="text/javascript" src="{%static "js/chart.js" %}"></script>
	    <script type="text/javascript" src="{%static "js/angular.min.js" %}"></script>
	    <script src="{%static "js/dash.js" %}" charset="utf-8"></script>
	</head>
	<body>
	    <div class="section">
	      <div class="a row">
	      <section ng-controller="AUController as dau">
	      		<ul class="nav nav-pills" >
	      			<li ng-class="{ active:dau.isSelected(1)}">
	      				<a ng-click="dau.selectTab(1)">Daily</a>
	      			</li>
	      			<li ng-class="{ active:dau.isSelected(2)}">
	      				<a ng-click="dau.selectTab(2)">Weekly</a>
	      			</li>
	      			<li ng-class="{ active:dau.isSelected(3)}">
	      				<a ng-click="dau.selectTab(3)">Monthly</a>
	      			</li>
	      		</ul>
		      	<div ng-show="dau.isSelected(1)">
		      		<div class="loader" id="l11"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
		      		<div class = "chart" id="c11">
		      			<canvas id="chart11" height="18%" width="30%"></canvas>
		      		</div>
		      	</div>
		      	<div ng-show="dau.isSelected(2)">
		      		<div class="loader" id="l12"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
		      		<div class = "chart" id="c12">
		      			<canvas id="chart12" height="18%" width="30%"></canvas>
		      		</div>
		      	</div>
		      	<div  ng-show="dau.isSelected(3)">
		      		<div class="loader" id="l13"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
		      		<div class = "chart" id="c13">
		      			<canvas id="chart13" height="18%" width="30%"></canvas>
		      		</div>
		      	</div>   
	      	</section>
	      	<section ng-controller="ChurnController as cc">
	      		<ul class="nav nav-pills" >
	      			<li ng-class="{ active:cc.isSelected(1)}">
	      				<a ng-click="cc.selectTab(1)">Table</a>
	      			</li>
	      			<li ng-class="{ active:cc.isSelected(2)}">
	      				<a ng-click="cc.selectTab(2)">Chart</a>
	      			</li>
	      		</ul>
	      		<div ng-show="cc.isSelected(1)" id = "tb">
	      			<div class="loader" id="ltb"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
	      		</div>
	      		<div ng-show="cc.isSelected(2)">
	      			<div class="loader" id="lch"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
		      		<div class = "chart" id="cch">
		      			<canvas id="c-chart" height="18.5%" width="30%"></canvas>
		      		</div>
		      	</div>
	      	</section>
	      	<section ng-controller="SignUpController as sign">
	      		<ul class="nav nav-pills" >
	      			<li ng-class="{ active:sign.isSelected(1)}">
	      				<a ng-click="sign.selectTab(1)">Daily</a>
	      			</li>
	      			<li ng-class="{ active:sign.isSelected(2)}">
	      				<a ng-click="sign.selectTab(2)">Weekly</a>
	      			</li>
	      			<li ng-class="{ active:sign.isSelected(3)}">
	      				<a ng-click="sign.selectTab(3)">Monthly</a>
	      			</li>
	      		</ul>
		      	<div ng-show="sign.isSelected(1)">
	      			<div class="loader" id="l21"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
		      		<div class = "chart" id="c21">
		      			<canvas id="chart21" height="18.5%" width="30%"></canvas>
		      		</div>
		      	</div>
		      	<div ng-show="sign.isSelected(2)">
		      		<div class="loader" id="l22"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
		      		<div class = "chart" id="c22">
		      			<canvas id="chart22" height="18.5%" width="30%"></canvas>
		      		</div>
		      	</div>
		      	<div ng-show="sign.isSelected(3)">
		      		<div class="loader" id="l23"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
		      		<div class = "chart" id="c23">
		      			<canvas id="chart23" height="18.5%" width="30%"></canvas>
		      		</div>
		      	</div>   
	      	</section>
	      </div>
	    </div>
		<div class="b row">

			<div class="loader" id="l3"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
			<div class = "chart2" id="c3">
				<canvas id="chart3" height="21%" width="30%"></canvas>
			</div>
			<div class="loader" id="l4"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
			<div class = "chart2" id="c4">
				<canvas id="chart4" height="21%" width="30%"></canvas>
			</div>
			<div class="loader" id="l5"><div class='uil-ring-css' style='transform:scale(0.7);'><div></div></div></div>
			<div class = "chart2" id="c5">
				<canvas id="chart5" height="21%" width="30%"></canvas>
			</div>
		</div>
	</body>
</html>