<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>Dashboard</title>
	    {% load staticfiles %}

	    <link rel="stylesheet" href="{%static "css/materialize.css" %}">
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	    <link rel="stylesheet" href="{%static "css/drawer.css" %}">
	    <link rel="stylesheet" href="{%static "css/chartist.css" %}">
	    
	    <link rel="stylesheet" href="{%static "css/dash.css" %}">

	    <script src="{%static "js/jquery-min.js" %}"></script>
	    <script src="{%static "js/drawer.js" %}"></script>
	    <script type="text/javascript" src="{%static "js/materialize.js" %}"></script>
	    <script type="text/javascript" src="{%static "js/chartist.js" %}"></script>
	    <script src="{%static "js/dash2.js" %}" charset="utf-8"></script>
	</head>
	<body class="drawer drawer--right blue-grey darken-3">
	    <div class="section">
	      <div class="row" style="margin-top: 30px">
	      	<div class="ct-chart" id="chart" style="background-color: #26A69A; margin-left: 1%; height: 400px; width: 1180px; float: left">
	      	</div>
	      	<div class="ct-chart" id="chart2" style="background-color: #26A69A; margin-left: 5%; height: 400px; width: 600px; float: left">
	      	</div> 
	      </div>
	    </div>
		<div class="row" style="margin-top: 10px">
			<div class="ct-chart" id="chart3" style="background-color: #26A69A; margin-left: 1%; height: 400px; width: 600px; float: left">
			</div>
			<div class="ct-chart" id="chart4" style="background-color: #26A69A; margin-left: 2%; height: 400px; width: 600px; float: left">
			</div>
			<div class="ct-chart" id="chart5" style="background-color: #26A69A; margin-left: 2%; height: 400px; width: 600px; float: left">
			</div>
		</div>
	</body>
</html>