<!DOCTYPE html>
<html>
<head>
	<title>SDKs per Week</title>
	{% load staticfiles %}
	<script type="text/javascript" src="{% static "js/jquery-min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/chart.js" %}"></script>
	<script type="text/javascript" src="{% static "js/sdks.js" %}"></script>

</head>
<body>
	<button id="b1">Create Chart</button>
	<div class="displayChart" style="background-color: #000000">
		<canvas id="chart" width="350" height="100"></canvas>
	</div>
</body>
</html>